@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Emulogic';
  src: url('/Pacman-js-main/assets/font/Emulogic.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', monospace;
  background: #000;
  color: #00ff00;
  overflow: hidden;
}